@import "../../../App.scss";


.projects {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: absolute;
    height: 120rem;
    width: 130rem;
    top: 105%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    @include respond(tab-land){
        width: 100rem;
    }

    @include respond(tab-port) {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 50rem;
        height: auto;
        top: 175%;
    }

    @include respond(phone) {
        width: 40rem;
        top: 170%;
        margin-top: 5rem;
    }

    @media only screen and (max-height: 48.56em) {
        top: 155%;
    }

    @media only screen and (max-height: 44.8em) {
        top: 175%;
    }


}