@import "../../../App.scss";


.projects {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: absolute;
    height: 120rem;
    width: 130rem;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);


    @include respond(tab-land){
        width: 100rem;
    }

    @include respond(tab-port) {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 50rem;
        height: auto;
        top: 200%;
    }

    @include respond(phone) {
        width: 35rem;
        top: 195%;
        margin-top: 5rem;
    }


}