@import "../../../App.scss";
.header {
    height: 100vh;
    position: relative;
    &__wrapper {
        display: flex;
        height: 65vh;
        flex-direction: column;
        flex: 1;
        align-items: flex-start;
        justify-content: space-between;
        width: 70%;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        @include respond(phone) {
            left: 52%;
            top: 55%;
            width: 90%;
        }
    }
    &__heading {
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        &__span {
            color: $color-green;
            font-size: 2rem;
            font-weight: 500;
            font-family: "Oxanium";
        }

        &__title {
            color: $color-slate-lightest;
            font-family: "Montserrat";
            font-size: 6rem;
        }
        &__subtitle {
            font-size: 5rem;
            font-family: "Montserrat";
            color: $color-slate;
        }
    }
    &__paragraph {
        width: 39rem;
        &__text {
            font-family: 'Oxanium';
            font-weight: 400;
            color: $color-slate;
            font-size: 1.5rem;
            line-height: 1.4;
        }
        @include respond(phone) {
            width: 70%;
        }
    }
    &__button {
        &:link,
        &:visited,
        &:active,
        &:focus {
            text-decoration: none;
            outline: none;
            padding: 1.2rem 2.3rem;
            border: .1rem solid $color-green;
            font-family: "Oxanium";
            font-weight: 500;
            font-size: 1.6rem;
            color: $color-green;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-green 50%);
            background-size: 220%;
            transition: all .4s;
        }
        &:hover {
            background-position: 100%;
            color: $color-primary;
            box-shadow: 0rem .1rem .5rem black;
        }
    }
}