// Variables
$color-primary: #0a192f;
$color-primary-light: #172a45;
$color-grey-dark: #333f58;
$color-slate: #8892b0;
$color-slate-light: #a8b2d1;
$color-slate-lightest: #ccd6f6;
$color-white: #e6f1ff;
$color-green: #64ffda;



// Mixins
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}

@mixin absCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// Base Styling (Global Styling)
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 

    @include respond(tab-land) { 
        font-size: 56.25%; 
    }

    @include respond(tab-port) { 
        font-size: 50%; 
    }
    
    @include respond(big-desktop) {
        font-size: 75%; 
    }
}

body {
    box-sizing: border-box;
    font-weight: 400;
    background-color: $color-primary;
      &::-webkit-scrollbar {
    width: .8rem;
    background-color: $color-grey-dark;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-green;
  }
}




// animations
@keyframes fadeNavOne {
    0% {
        transform: translate(-15rem, -30rem)
    }

    100% {
        transform: translate(0rem, 0rem)
    }
}