@import "../../../App.scss";

.technologies {
    height: 70vh;
    @include respond(tab-port) {
        height: 120vh;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-around;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 99%;
        @include respond(tab-port) {
            flex-direction: column;
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 48%;
        box-shadow: 0rem 1.5rem 4rem black;
        height: 98%;
        @include respond(phone) {
            width: 40rem;
        }
        @include respond(tab-port) {
            height: 50%;
            width: 75%;
        }
    }
    &__title {
        font-family: "Montserrat";
        color: $color-slate-lightest;
        font-size: 2.4rem;
        font-weight: 700;
        background-position: top;
        letter-spacing: .2rem;
        @include respond(phone) {
            font-size: 2rem;
        }
    }
    &__text{
        font-family: "Oxanium";
        color: $color-slate;
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: 600;
        text-align: center;
        line-height: 1.6;
        padding: 0rem 2rem;
        @include respond(phone) {
            padding: 0rem 1rem;
        }
    }
    &__introduction {
        font-size: 1.5rem;
        color: $color-slate-light;
        font-family: "Montserrat";
    }
    &__img__wrapper {
        width: 35%;
        @include respond(tab-port) {
            width: 60%;
        }
    }
    &__image {
        width: 100%;
        background-size: cover;
        border-radius: .5rem;
        box-shadow: 0rem 1rem 3rem black;
    }

    &__technology {
        width: 95%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-between;
        &__tech {
            font-family: "Oxanium";
            font-size: 1.5rem;
            color: $color-green;
            width: 40%;
            text-align: center;
            @include respond(phone) {
                width: 40%;
            }
        }
    }
}